
<% if @mess == @mess.upcase %>
<div style="color: blue">
<h1>Ahhh si, manzanas!</h1>
</div>
<% else %>
<div style="color: red">
<h1>Habla más duro mijito!!</h1>
</div>
<% end %>

<form action="/" method="get">
<input type="submit" value="Back"></form>